      </div><!-- /.container -->
      
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; YelpRestaurant 2018 | <a href="/restaurants">Home</a>  <a href="https://github.com/minggong94"><i class="fab fa-github-square"></i>  <a href="https://www.linkedin.com/in/ming-gong-03a286150/"><i class="fab fa-linkedin"></i>
          </div>
        </footer>
        <!-- jQuery CDN -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        
        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>